<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>

    <table>
        <thead>
            <tr>
                <th>Name of Item</th>
                <th>Price of item</th>
                <th>DESCRIPTION</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in shopitem%}
            <tr>
                <td>{{item.itemname}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td><a href="{% url 'update' item.pk %}">update item</a></td>
                <td><a href="{% url 'delete' item.pk %}">delete item</a></td>
            </tr>
            
            {%endfor%}
        </tbody>
    </table>
    <a href="{% url 'createitem' %}">add an item</a>
</body>
</html>